aio-pika==8.3.0
aiormq==6.6.4
amqp==5.1.1
asgiref==3.6.0
av==10.0.0
distlib==0.3.6
Django==3.1.4
django-on-heroku==1.1.2
ez-setup==0.9
filelock==3.9.0
gunicorn==20.1.0
idna==3.4
kombu==5.2.4
multidict==6.0.4
numpy==1.24.1
opencv-python==4.7.0.68
pamqp==3.2.1
pika==1.3.1
platformdirs==2.6.2
psycopg2-binary==2.9.5
sqlparse==0.4.3
vine==5.0.0
virtualenv==20.17.1
whitenoise==6.3.0
yarl==1.8.2
